{{#*inline "page"}}
    <div class="col bg-light d-flex flex-column justify-content-start align-items-stretch p-0 border-start border-bottom border-dark">
        <h2 class="my-4 ms-4">{{question.title}}</h2>
        <div class="mx-4 mb-3 d-flex flex-row justify-content-start flex-wrap gap-2">
            <div><strong>{{question.author}}</strong> asked <em>{{to_duration question.time}}</em></div>
        </div>
        <div class="border-top border-dark row py-3 m-0">
            <div class="col-1 d-flex flex-column justify-content-start align-items-center text-muted">
                <a class="bi bi-caret-up-fill text-muted display-6" href="/upvote/q/{{question.id}}"></a>
                <div class="fs-4">{{question.score}}</div>
                <a class="bi bi-caret-down-fill text-muted display-6" href="/downvote/q/{{question.id}}"></a>
            </div>
            <div class="col d-flex flex-column justify-content-start align-items-stretch pe-5">
                <p>
                    {{question.text}}
                </p>
                <div class="d-flex flex-row justify-content-end flex-wrap mt-auto gap-2">
                    {{#each question.tags}}
                        <a class="btn btn-info text-light" href="/t/{{this.name}}">{{this.name}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
        <h3 class="m-0 py-3 px-4 mt-4">{{num_answers}} <em>Answers</em></h3>
        {{#each answers}}
            <div class="border-top border-dark row py-3 m-0">
                <div class="col-1 d-flex flex-column justify-content-start align-items-center text-muted">
                    <a class="bi bi-caret-up-fill text-muted display-6" href="/upvote/a/{{this.id}}"></a>
                    <div class="fs-4">{{this.score}}</div>
                    <a class="bi bi-caret-down-fill text-muted display-6" href="/downvote/a/{{this.id}}"></a>
                </div>
                <div class="col d-flex flex-column justify-content-start align-items-stretch pe-5">
                    <p>
                        {{this.text}}
                    </p>
                    <div class="mt-auto text-end">
                        <div><strong>{{this.author}}</strong> answerd <em>{{to_duration this.time}}</em></div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/inline}}

{{> layout}}