{{#*inline "page"}}
    <div class="col bg-light d-flex flex-column justify-content-start align-items-stretch p-0 border-start border-bottom border-dark">
        <h2 class="my-4 ms-4">{{question.title}}</h2>
        <div class="mx-4 mb-3 d-flex flex-row justify-content-start flex-wrap gap-2">
            <div><strong>{{question.author}}</strong> asked <em>{{to_duration question.time}}</em></div>
        </div>
        <div class="border-top border-dark row py-3 m-0">
            <div class="col-1 d-flex flex-column justify-content-start align-items-center text-muted">
                <a class="bi bi-caret-up-fill text-muted display-6" href="/upvote/{{question.id}}"></a>
                <div class="fs-4">{{question.score}}</div>
                <a class="bi bi-caret-down-fill text-muted display-6" href="/downvote/{{question.id}}"></a>
            </div>
            <div class="col d-flex flex-column justify-content-start align-items-stretch pe-lg-5">
                <p>
                    {{as_markdown question.text}}
                </p>
                <div class="d-flex flex-row justify-content-end flex-wrap mt-auto gap-2">
                    {{#each question.tags}}
                        <a class="btn btn-info text-light" href="/t/{{name}}">{{name}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
        <h3 class="m-0 py-3 px-4 mt-4">{{num_answers}} <em>Answers</em></h3>
        {{#each answers}}
            <div class="border-top border-dark row py-3 m-0">
                <div class="col-1 d-flex flex-column justify-content-start align-items-center text-muted">
                    <a class="bi bi-caret-up-fill text-muted display-6" href="/upvote/{{../question.id}}/{{id}}"></a>
                    <div class="fs-4">{{score}}</div>
                    <a class="bi bi-caret-down-fill text-muted display-6" href="/downvote/{{../question.id}}/{{id}}"></a>
                    {{#if ../owner}}
                        {{#if ../question.answered}}
                        {{else}}
                            <a class="btn btn-outline-success" href="/solved/{{../question.id}}/{{id}}">Solved</a>
                        {{/if}}
                    {{/if}}
                    {{#if accepted}}
                        <i class="bi-check-circle text-success display-6"></i>
                    {{/if}}
                </div>
                <div class="col d-flex flex-column justify-content-start align-items-stretch pe-lg-5">
                    <p>
                        {{as_markdown text}}
                    </p>
                    <div class="mt-auto text-end">
                        <div><strong>{{author}}</strong> answerd <em>{{to_duration time}}</em></div>
                    </div>
                </div>
            </div>
        {{/each}}
        {{#if user}}
            <h3 class="border-top border-dark m-0 py-3 px-4">Post an Answer</h3>
            <form class="px-4" method="post" action="/answer">
                <input type="hidden" name="question" value="{{question.id}}">
                <div class="mb-3">
                    <label for="text" class="form-label">Your Answer</label>
                    <textarea class="form-control" id="text" name="text" rows="7"></textarea>
                </div>
                <button type="submit" class="btn btn-primary float-end mb-3">Answer</button>
            </form>
        {{/if}}
    </div>
{{/inline}}

{{> layout}}